#home {
	background: 
    	linear-gradient(
    	  	rgba(0, 0, 0, 0.8),
    	  	rgba(0, 0, 0, 0.8)
    	),
    	url(../../assets/images/header/2.png);
    background-size: cover;
	min-height: 100%;
	
}

.my-image {
	width: 300px;
	margin-top: 30px;
	border-radius: 30px;
	box-shadow: 0px 0px 20px rgb(150, 150, 150);

}

.nextIconText{
	padding: 5px;
	color: white;
	font-weight: 700;
	font-size: 20px;
}

.nextIcon {
	height: 20px;
	width: auto;
	position: relative;
	animation: moveLeft 2s;
	animation-iteration-count: infinite;
	opacity: 1;	
}


@keyframes moveLeft {
	0% {
		margin-left: -2px;
		margin-right: -2px;
		
	}
	50% {
		margin-left: 2px;
		margin-right: 2px;
	}
	100% {
		margin-left: -2px;
		margin-right: -2px;
	}
}

.opacity_0-1 {
	animation: move 3s;
    opacity: 1;
}

@keyframes move {
	from {
	  	opacity: 0;
	}
	to {
	  	opacity: 1;
	}
}