#portfolio {
	background: 
    	linear-gradient(
    	  	rgba(0, 0, 0, 0.85),
    	  	rgba(0, 0, 0, 0.85)
    	),
    	url('https://image.freepik.com/free-photo/view-desk-items-white-background_23-2148604853.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.portfolio-content {
	min-height: calc(100vh - 130px);
}
