.svg {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 75px;
}

.svg-circle {
    fill: none;
}

.svg-circle-text {
   font-size: 1.5rem;
    text-anchor: middle;
    fill: #fff;
    font-weight: bold;
}